# PostgreSQL
POSTGRES_USER=bills_user
POSTGRES_PASSWORD=bills_pass
POSTGRES_DB=bills_db
POSTGRES_PORT=5433

# Backend
BACKEND_PORT=8001
DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# Frontend
FRONTEND_PORT=80
